
@media screen and (max-width: 1090px) {
    .card-container{
        width: 180px !important;
        height: 175px !important;
    }
    .card-media{
        height: 70px !important;
    }
    .card-content{
        font-size: 10px;
    }
    .card-actions{
        margin-top: -30px;
    }
    .card-detail-btn{
        margin-top: 15px !important;
        margin-left: 0 !important;
        font-size: 12px !important;
    }
    .card-cart-btn{
        margin-left: -15px;
        margin-top: 15px;
    }
}