

@media screen and (max-width: 1090px) {
    .res-count{
        display: none;
    }
    .prod-head-cat{
        font-size: 16px;
        font-weight: 600;
    }
    .checkbox-filter{
        display: none !important;
    }
}